@page "/acerca_de"

<h1>Acerca de</h1>

<img src="imagenes\MiFoto.jpg" title="MiFoto" width="400" height="500" class="mb-3">


<p><b>Nombre:</b> Alejandro Gomez Mateo</p>
<br>
<p><b>Matricula:</b> 2023-1218</p>
<br>
<br>
<p><b>Correo:</b> alexjtk40@gmail.com</p>
<br>
<p>Me gustaria dedicarme a desarrollar de preferencia paginas web.</p>
<br>

<div class="text-center">
    <a target="_blank" href="https://t.me/GMAlejandro?text=Hola%20te%20contacto%20para%20un%20trabajo%20bueno,%20Te%20pagaremos%20mucho%20dinero"
    class="btn btn-primary"><i class="fab fa-telegram"></i> Telegram</a>
</div>
